/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.accordion{
    width: 60%;
    height: 600px;
    margin: 0 auto;
    background: #FFF;
    padding: 1rem;
    border-radius: 20px;
    box-shadow:  0 0 4px rgba(0,0,0,0.2);
}
.accordion-content{
    width: 40vw;
    margin: 10px auto;
    border-radius: 10px;
    background: #eef3ff;
    border: 1px solid #698cfd;
    overflow: hidden;
}

.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content .header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.accordion-content.open .header{
    min-height: 35px;
}
.accordion-content .header .title{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.accordion-content .header i{
    font-size: 2rem;
    color: #333;
}
.accordion-content .description{
    height: 0;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.2s linear;
}
