<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'cuentas/css/cuenta.css' %}">
    <link rel="stylesheet" href="{% static 'tarjetas/css/tarjetas.css' %}">
    <link rel="stylesheet" href="{% static 'clientes/css/ayuda.css'%}">
    <link rel="stylesheet" href="{% static 'clientes/css/index.css'%}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxs-bank'></i>
        <img src="{% static 'registration/images/logo_itbank.png' %}" alt="">
      </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'cuentas:cuenta' %}">
            <i class='bx bx-home-alt' ></i>
            <span class="links_name">Inicio</span>
          </a>
        </li>
        <li>
          <a href="{% url 'cuentas:perfil' %}">
            <i class="bx bx-user"></i>
            <span class="links_name">Mi perfil</span>
          </a>
        </li>
        <li>
          <a href="{% url 'cuentas:fondos' %}">
            <i class="bx bx-wallet-alt"></i>
            <span class="links_name">Mis fondos</span>
          </a>
        </li>
        <li>
          <a href="{% url 'cuentas:actividad' %}">
            <i class="bx bx-money"></i>
            <span class="links_name">Actividad</span>
          </a>
        </li>
        <li>
          <a href="{% url 'prestamos:prestamos' %}">
            <i class="bx bx-money"></i>
            <span class="links_name">Prestamos</span>
          </a>
        </li>
        <li>
          <a href="{% url 'clientes:divisas' %}">
            <i class='bx bx-dollar-circle' ></i>
            <span class="links_name">Divisas</span>
          </a>
        </li>
        <li>
          <a href="{% url 'clientes:ayuda' %}">
            <i class='bx bx-help-circle' ></i>
            <span class="links_name">Ayuda</span>
          </a>
        </li>
        <li class="log_out">
          <a href="{% url 'logout' %}">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Bienvenido, {{user.username}}</span>
        </div>
      </nav>
    {% block content %}
    {% endblock %}

    </section>
    
<script src="{% static 'cuentas/js/cuenta.js' %}"></script>
</body>
</html>
