{% extends 'cuentas/base.html' %}
{% load static %}

{% block content %}
<div class="home-content">
  <div class="sales-boxes">
    <div class="top-sales-flex">
      <div class="top-sales box">
        <div class="">
          <h2>Dinero Disponible</h2>
          <p class="product">$1200</p>
          <br><br>
        </div>
        <hr>
        <div class="">
          <a class="button" href="#">Ingresar dinero</a>
          <a class="button" href="#">Transferir dinero</a>
        </div>
      </div>
      <div class="top-sales box">
        <div class="middle">
          <div class="lef">
              <h2>Tarjetas</h2>
          </div>
          <div class="card">
              <div class="card__inner">
                  <div class="front">
                      <div class="row">
                          <img src="{% static 'tarjetas/images/chip.png' %}" class="card__chip" alt="">
                          <img src="{% static 'registration/images/logo_itbank.png' %}" class="card__logo" alt="">
                      </div>
                      <div class="row card__num">
                          <p>1234</p>
                          <p>5678</p>
                          <p>9876</p>
                          <p>5000</p>
                      </div>
                      <div class="row card__name">
                          <p>{{user.username}}</p>
                          <p> 10/26</p>
                      </div>
                  </div>
                  <div class="back">
                      <div class="barra"></div>
                      <div class="row card__cvv">
                          <figure>
                              <img src="{% static 'tarjetas/images/pattern.png' %}" class="" alt="">
                          </figure>
                          <p>748</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="">
            <a class="button" href="">Ver más</a>
          </div>
      </div>
      </div>
    </div>
    <div class="movimientos">
    <h2>Movimientos</h2>
      <table>
        <thead>
            <tr>
                <th>Operacion</th>
                <th>Tipo de Operacion</th>
                <th>Estado</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pasajes en Aerolineas Argentinas</td>
                <td>Compra</td>
                <td>Pendiente</td>
                <td>10/08/2022</td>
            </tr>
            <tr>
                <td>Compra de Prueba en Uber</td>
                <td>Compra</td>
                <td>Devuelto</td>
                <td>10/08/2022</td>
            </tr>
            <tr>
                <td>Transferiste a</td>
                <td>Transferencia</td>
                <td>Pendiente</td>
                <td>10/08/2022</td>
            </tr>
            <tr>
                <td>Recargaste SUBE</td>
                <td>Pago de servicio</td>
                <td>Aprobado</td>
                <td>10/08/2022</td>
            </tr>
            <tr>
                <td>Pagaste Internet Fibra optica</td>
                <td>Pago de servicio</td>
                <td>Aprobado</td>
                <td>10/08/2022</td>
            </tr>
        </tbody>
    </table>
    <div class="container-button">
      <a class="button" href="#">Ver más</a>
    </div>
    </div>
  </div>
  <div class="overview-boxes">
    <div class="box">
      <div class="right-side title">
        <h2>Novedades</h2>
        <div class="novedad">
          <div class="novedad__img">
              <img src="" alt="">
          </div>
          <div class="mensaje">
              <p>Su transferencia ha sido enviada con exito</p>
              <small>Hace 1 hora</small>
          </div>
      </div>
      <div class="novedad">
          <div class="novedad__img">
              <img src="" alt="">
          </div>
          <div class="mensaje">
              <p>Itbank ha lanzado nuevos prestamos</p>
              <small>Lunes 8 de agosto de 2022</small>
          </div>
      </div>
      <div class="novedad">
          <div class="novedad__img">
              <img src="" alt="">
          </div>
          <div class="mensaje">
              <p>Itbank incluyo una nueva linea de tarjetas llamada black card</p>
              <small>Jueves 4 de agosto</small>
          </div>
      </div>
      </div>
    </div>
    <div class="box">
      <i class="bx bx-money money"></i>
      <div class="right-side">
        <div class="box-topic">Dolar Oficial</div>
        <div class="number">$140,00</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          <span class="text">Up from yesterday</span>
        </div>
      </div>
    </div>
    <div class="box">
      <i class="bx bx-money money"></i>
      <div class="right-side">
        <div class="box-topic">Dolar Blue</div>
        <div class="number">$295,00</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          <span class="text">Up from yesterday</span>
        </div>
      </div>
    </div>
    <div class="box">
      <i class="bx bx-money money blue"></i>
      <div class="right-side">
        <div class="box-topic">Dolar bolsa</div>
        <div class="number">$292,00</div>
        <div class="indicator">
          <i class="bx bx-up-arrow-alt"></i>
          <span class="text">Up from yesterday</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}