{% extends 'cuentas/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'prestamos/css/prestamos.css'  %}">


<div class="home-content">
        <section class="contenedor-prestamos">
          <div class="prestamos">
            <h2>Solicitud de Prestamo</h2>
            <form action="" method="post">
                  {%csrf_token%}
                <div class="radio">
                  <p>Tipo de Prestamo:</p>
                  <div >
                    <div class="opcion">
                      <input type="radio" id="personal"  value="personal" name="loan_type">
                      <label for="personal">Personal</label>
                    </div>
                
                    <div class="opcion">
                      <input type="radio" id="hipotecario"  value="hipotecario" name="loan_type">
                      <label for="hipotecario">Hipotecario</label>
                    </div>
                
                    <div class="opcion">
                      <input type="radio" id="prendario"  value="prendario" name="loan_type">
                      <label for="prendario">Prendario</label>
                    </div>
                  </div>
                </div>
                <div class="monto">
                  <label for="lbl-monto">Monto:</label>
                  <input type="number" name="monto" id="lbl-monto" min="1" />
                </div>
                <button class="btn">Solicitar Prestamo</button>
            </form>
  
          </div>
        </section>
</div>
{% endblock %}