{% extends 'cuentas/base.html' %}
{% load static%}

{% block content %}
<div class="home-content">
    <div class="accordion">
        <h2>Preguntas Frecuentes</h2>
        <div class="accordion-content">
            <div class="header">
                <span class="title">Pregunta 1</span>
                <i class='bx bx-plus'></i>
            </div>
    
            <p class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
            </p>
        </div>
        <div class="accordion-content">
            <div class="header">
                <span class="title">Pregunta 2</span>
                <i class='bx bx-plus'></i>
            </div>
    
            <p class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
            </p>
        </div>
        <div class="accordion-content">
            <div class="header">
                <span class="title">Pregunta 3</span>
                <i class='bx bx-plus'></i>
            </div>
    
            <p class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
            </p>
        </div>
    
        <div class="accordion-content">
            <div class="header">
                <span class="title">Pregunta 4</span>
                <i class='bx bx-plus'></i>
            </div>
    
            <p class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
            </p>
        </div>
        <div class="accordion-content">
            <div class="header">
                <span class="title">Pregunta 5</span>
                <i class='bx bx-plus'></i>
            </div>
    
            <p class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
            </p>
        </div>
        <div class="accordion-content">
            <div class="header">
                <span class="title">Pregunta 6</span>
                <i class='bx bx-plus'></i>
            </div>
    
            <p class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nobis ut perspiciatis minima quidem nisi, obcaecati, delectus consequatur fuga nostrum iusto ipsam ducimus quibusdam possimus. Maiores non enim numquam voluptatem?
            </p>
        </div>
    </div>
</div>

<script src="{% static 'clientes/js/ayuda.js'%}"></script>
{% endblock %}