{% extends 'cuentas/base.html' %}
{% load static %}

{% block content %}
<div class="home-content">
    <section class="divisas">
        <div class="divisas__card">
            <div class="card">
                <div class="card-body">
                    <div class="divisa">
                        <h3>Dolar Oficial</h3>
                    </div>
                    <div class="compra-venta">
                        <p>Compra:<span></span></p>
                        <p>Venta:<span></span></p>
                    </div>
                    <div class="variacion">
                        <p>Variacion:<span></span></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="divisa">
                        <h3>Dolar Oficial</h3>
                    </div>
                    <div class="compra-venta">
                        <p>Compra:<span></span></p>
                        <p>Venta:<span></span></p>
                    </div>
                    <div class="variacion">
                        <p>Variacion:<span></span></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="divisa">
                        <h3>Dolar Oficial</h3>
                    </div>
                    <div class="compra-venta">
                        <p>Compra:<span></span></p>
                        <p>Venta:<span></span></p>
                    </div>
                    <div class="variacion">
                        <p>Variacion:<span></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divisas__button">
            <a href="#" class="btn btn-primary">Ver más</a>
        </div>
    </section>
</div>
{% endblock %}