<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../../static/clientes/css/index.css">
<!-- 
    {% load static %}
    <link rel="stylesheet" href="{% static 'clientes/css/index.css' %}"> -->
</head>
<body>

<header>
    <a href="">
        <figure id="figure-logo">
            <img src="{% static 'registration/images/logo_itbank.png' %}" alt="">
        </figure>
    </a>
    <div>
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Iniciar sesión</a>
        <a href="{% url 'registration:signup' %}" class="btn btn-primary">Abrir cuenta</a>
    </div>
</header>
<main>
    <section id="banner">
        
    </section>
    <section id="divisas">
        <div class="divisas__card">
            <div class="card">
                <div class="card-body">
                    <div class="divisa">
                        <img src="" alt="">
                        <h3>Dolar Oficial</h3>
                    </div>
                    <div class="compra-venta">
                        <p>Compra:<span></span></p>
                        <p>Venta:<span></span></p>
                    </div>
                    <div class="variacion">
                        <p>Variacion:<span></span></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="divisa">
                        <img src="" alt="">
                        <h3>Dolar Oficial</h3>
                    </div>
                    <div class="compra-venta">
                        <p>Compra:<span></span></p>
                        <p>Venta:<span></span></p>
                    </div>
                    <div class="variacion">
                        <p>Variacion:<span></span></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="divisa">
                        <img src="" alt="">
                        <h3>Dolar Oficial</h3>
                    </div>
                    <div class="compra-venta">
                        <p>Compra:<span></span></p>
                        <p>Venta:<span></span></p>
                    </div>
                    <div class="variacion">
                        <p>Variacion:<span></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divisas__button">
            <a href="#" class="btn btn-primary">Ver más</a>
        </div>
    </section>
    <section class="servicios">
        <div>
            <figure>
                <img src="" alt="">
            </figure>
            <h4>Transferencias</h4>
            <p>Enviá y recibí plata desde cualquier cuenta bancaria y/o virtual, gratis y en el acto.</p>
            <a href="">Ver más</a>
        </div>
        <div>
            <figure>
                <img src="" alt="">
            </figure>
            <h4>Pagos y recargas</h4>
            <p>Recargá tus servicios prepagos y pagá tus facturas sin moverte de tu casa.</p>
            <a href="">Ver más</a>
        </div>
        <div>
            <figure>
                <img src="" alt="">
            </figure>
            <h4>Prestamos</h4>
            <p>Para lo que necesites, de la forma más fácil, rápida y transparente.</p>
            <a href="">ver más</a>
        </div>
    </section>
    <section class="servicios2">
        <div>
            <figure>
                <img src="" alt="">
            </figure>
            <div class="servicios2__hijo">
                <h4>Sin comisiones</h4>
                <p>Podés usar Ualá totalmente gratis. Sin costos de apertura, mantenimiento o cierre.</p>
            </div>
        </div>
        <div>
            <figure>
                <img src="" alt="">
            </figure>
            <div class="servicios2__hijo">
                <h4>Sin letra chica</h4>
                <p>Tranquilidad de saber que todas las operaciones que hagas, están bajo tu control.</p>
            </div>
        </div>
        <div>
            <figure>
                <img src="" alt="">
            </figure>
            <div class="servicios2__hijo">
                <h4>Sin sucursales</h4>
                <p>Todo 100% online. Ahorrá tiempo y comunicate por chat desde donde quieras.</p>
            </div>
        </div>
    </section>
    <section id="ayuda">
        <h4>
            Atención 100% online
        </h4>
        <a href="#" class="btn btn-primary">¿En que podemos ayudarte?</a>
        <p>Llamá a la línea PayPal para Clientes: 0800-222-0252</p>
        <button>Registrarse</button>
        <a href=""><small>Preguntas Frecuentes</small></a>
    </section>
</main>
<footer>
    <div>
        <p>© 2022 Banco Itbank Argentina. Todos los derechos reservados.</p>
    </div>
    <div>
        <a href=""><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>