@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

/* tarjeta */

.card {
    font-family: 'Josefin Sans', sans-serif;
    width: 250px;
    height: 150px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card .card__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    position: absolute;
    padding: 1.5rem;
    border-radius: 15px;
    overflow: hidden;
    backface-visibility: hidden ;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__chip {
    width: 18%;
}

.card__logo {
    width: 55%;
}

.card__num {
    font-size: 1.1rem;
    opacity: 0.9;
    margin: 0 8px;
    margin-top: 1.5rem;
}

.card__name {
    font-size: .8rem;
    opacity: 0.9;
    margin: 0 8px;
    margin-top: .8rem;
}

.barra {
    background-color: #222;
    margin-left: -2rem;
    margin-right: -2rem;
    height: 34%;

}

.card__cvv {
    margin-top: .5rem;
}

.card__cvv figure img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card__cvv p {
    background: #fff;
    color: #000;
    font-size: .7rem;
    padding: .3rem .6rem;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card__inner{
    transform: rotateY(-180deg);
}