<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/login.css' %}">
  </head>
  <body>

    <div class="contenedor">
      <div class="signin">
        <form  action="#" method="POST">
          <figure id="figure-logo"> 
            <img src="{% static 'registration/images/logo_itbank.png' %}" id="logo" alt="Logo de Itbank">
          </figure>
          {% if form.errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
          {% endif %}
          {%csrf_token%}
          <div class="form-group">
            <label for="lbl-username">Nombre de usuario:</label>
            <input type="text" id="lbl-username" name="username">
          </div>
          <div class="form-group">
            <label for="lbl-password">Contraseña:</label>
            <input type="password" id="lbl-password" name="password">
          </div>
          <button type="submit" class="btn">Ingresar</button>
        </form>
        <a href="{% url 'registration:signup' %}" class="btn btn-mobile">Abrir cuenta</a>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <p>¿Aun no eres cliente Itbank?</p>
            <a href=" {% url 'registration:signup' %}" class="btn" >
              Abrir cuenta
            </a>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content">
          </div>
        </div>
      </div>
    </div>


    <script src="{% static 'registration/js/login.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>